html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
header {
  position: absolute;
  left: 0;
  right: 0;
  font-size: 35px;
  padding: 10px 20px 10px 20px;
  font-family: sans-serif;
  color: white;
  background-color: rgba(0, 0, 0, 0.48);
}
a {
  text-decoration: none;
  color: white;
}
.main {
    height: 625px;
    background-image: url('../media/restaurant-hero-image.jpg');
}
.mid {
  padding-top: 250px;
}
.orderNoms {
  color: white;
  font-family: sans-serif;
}
.noms {
  font-size: 50px;
  text-align: center;
}
.place-order {
  margin-top: 20px;
  font-size: 30px;
  text-align: center;
  color: white;
  background-color: rgb(2, 210, 117);
  height: 60px;
  line-height: 60px;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}
.articles {
  height: 150px;
  padding: 10px 10px 10px 10px;
  text-align: center;
  background-color: white;
}
.shop {
  padding: 10px 10px 10px 10px;
  text-align: left;
  height: 100%;
  display: inline-block;
  width: 20%;
  vertical-align: top;
}
.delivery {
  padding: 10px 10px 10px 10px;
  text-align: left;
  height: 100%;
  display: inline-block;
  width: 20%;
  vertical-align: top;
}
.deals {
  padding: 10px 10px 10px 10px;
  text-align: left;
  height: 100%;
  display: inline-block;
  width: 20%;
  vertical-align: top;
}
footer {
  height: 60px;
  line-height: 60px;
  background-color: rgba(0, 0, 0, 0.85);
  color: white;
  text-align: center;
}
.copyright {
  display: inline-block;
}
